<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Learning</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="home">
      <h1 class="wel">My Learning</h1>
    </div>
    <div class="back">
      <a class="hi" href="/home"
        ><i class="fa-solid fa-circle-arrow-left"></i
      ></a>
    </div>
    <div class="container">
      {% if courses %}
      <ul>
        {% for course in courses %}
        <a href="{{ course.link }}" target="_blank"
          ><button>{{ course.title }}</button></a
        >
        <br /><br />
        {% endfor %}
      </ul>
      {% else %}
      <p>No courses available for your selected career yet.</p>
      {% endif %}
    </div>
  </body>
</html>
